<div class="remedial-container">
    <h2 class="remedial1-title">Remedial 1 Details</h2>
    <ul class="remedial1-list">
        <li class="remedial1-list-item">
            <a href="#">Non-CO attainment approved list with signature</a>
        </li>
        <li class="remedial1-list-item">
            <a href="#">Circular with signature</a>
        </li>
        <li class="remedial1-list-item">
            <a href="#">Attendance with signature</a>
        </li>
        <li class="remedial1-list-item">
            <a href="#">Assessment proof (Marks and sample answer scripts)</a>
        </li>
    </ul>
</div>
