<div class="pt2-container">
    <h2 class="pt2-title">PT2 Details</h2>
    <ul class="pt2-list">
        <li class="pt2-list-item">
            <a href="#">Question Paper (Approved copy) with key</a>
        </li>
        <li class="pt2-list-item">
            <a href="#">Sample answer script</a>
        </li>
        <li class="pt2-list-item">
            <a href="#">Mark sheet</a>
        </li>
        <li class="pt2-list-item">
            <a href="#">COs-POs attainment</a>
        </li>
    </ul>
</div>
